body {
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 16px;
}

nav {
  background-color: #4CAF50;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
  text-decoration: none;
  background-color: white;
  
}

ul{
  list-style-type:none;
}

li {
  text-decoration: none;
}

#intro {
  margin-top: 35px;
}

.clear-pad {
  padding: 0px;
}

.clear-marg {
  margin: 0;
}

.blue {
	color: blue;
}
.red {
	color: red;
}
.brown {
	color: brown;
}

.code {
	border-left: 4px solid #4CAF50;
	background-color: white;
	font-family: Consolas,"courier new";
	font-size: 16px;
	margin: 20px 0px;
	padding: 12px 16px;
	word-wrap: normal;
	line-height: 1.4;
}

.grey-btn {
  background-color: #616161;
}
.grey-btn a {
  color: white;
}

.green-btn {
  background-color: #00b852;
}
.green-btn a {
  color: white;
}
