html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#container{
    min-height: 500px;
    height: 100%;
    width: 100%;
    margin: 0;
}

.dotcom{
    color: #4CAF50;
}

.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear:both;
}
.defaultfont {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 16px;
}
.spaced {
    letter-spacing: 4px;
}
.nodec {
    text-decoration:none;
}
.white {
	color: white;
}
.mediumblue {
	color: #0000CD;
}	
#logo{
    background-color:white;
    height: 68px;
    overflow: hidden;
}
#slogan {
    margin-top: 35px;
}
#img {
    padding: 20px;
}

#navbar{
    background-color: #4CAF50;
    overflow: hidden;
    height: 74px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
}
ul{
    list-style-type:none;
    height:100%;
    margin: 0;
}
#navbar li{
    display: inline-block;
    height:100%;
    margin: 0;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 17px;
    letter-spacing: 4px;
    height:100%;
    padding: 25px 10px 25px 10px;
    display: block;
    
}
#icon {
    padding: 24px 8px;
    font-size: 20px;
}
#navbar a:hover{
    background-color: white;
    color: #4CAF50;
    transition: border-bottom .3s;
}
#bottom {
	margin:0px;
}

#sidemenu {
	width: 16%;
	display: block;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 4px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
	overflow: hidden;
	height: inherit;
	margin: 0px;

}
#sidemenu h2 {
	font-weight: 400px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20px;
	padding-left: 20px;
	margin: 10px 0px;
	float: left;

}
#sidemenu li a {
	text-decoration: none;
	color: #555555;
	font-family: Verdana,sans-serif;
	font-size: 16px;
	padding: 0px 20px;
	width:100%;
	overflow: hidden;
	float: left;
}
#sidemenu li a:hover {
	background-color: #CCCCCC;
	width: 100%;

}
#x {
	color: #555555;
	display: block;
	font-size: 18px;
	padding: 10px 20px;
	margin: 5px 0px 0px 230px;
	font-weight: 400;
}
.row {
	width: 100%;
	margin:0px;
	overflow: hidden;
	text-align:center;
	display:block;
	padding: 0px;
}
h1{
	font-size: 80px;
	color: #555555;
	display: block;
	text-align: center;
	margin: 20px 0px;
	font-family: "Segoe UI",Arial,sans-serif;
}
p{
	font-size: 30px;
	display: block;
	color: #555555;
	text-align: center;
	margin-bottom: 15px;
	font-family: "Segoe UI",Arial,sans-serif;
	line-height: 1.5;
}
.fiftyp {
	width:42%;
}
#notsidemenu {
	height: 100%;
	display: block;
	width:84%;
	overflow: hidden;
}
.btn {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 8px;
}
.btn a{
	background-color: #555555;
	padding: 8px 16px;
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	font-family: Verdana,sans-serif;
	overflow:hidden;
	margin-left: 5px;
	line-height: 1.5;
	white-space: nowrap;
}
.btn a:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.blue {
	color: blue;
}
.red {
	color: red;
}
.brown {
	color: brown;
}
.example1 {
	background-color:#f1f1f1;
	text-align: left;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 16px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	display:block;
	width:auto;

}
.example2 {
	background-color:#f1f1f1;
	text-align: left;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 16px;
	display:block;
	width:auto;
}
h3 {
	margin: 10px 0px;
}
.code {
	border-left: 4px solid #4CAF50;
	background-color: white;
	font-family: Consolas,"courier new";
	font-size: 16px;
	margin: 20px 0px;
	padding: 12px 16px;
	word-wrap: normal;
	line-height: 1.4;
}
.grey {
	background-color:#f1f1f1;
}
.noshadow {
	box-shadow: none;
}
#csscode {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.gbtn {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 5px 5px 5px;
}
.gbtn a {
	background-color: #4CAF50;
	padding: 8px 16px;
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	font-family: Verdana,sans-serif;
	overflow:hidden;
	margin-left: 0px;
	line-height: 1.5;
}
.gbtn a:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.rc {
	display:block;
	padding:4%;
}
.thirtyp {
	width: 25%;
}
h2 {
	font-size: 40px;
	color: #555555;
	font-weight: 400;
	font-family: "Segoe UI",Arial,sans-serif;
	margin: 10px 0px;
}
#row4 p {
	color: #555555;
	font-size: 20px;
	display: block;
	font-family: Verdana,sans-serif;
	line-height: 1.5;
	margin-bottom: 10px;
	word-wrap: break-word;
}
.whiteblock {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	display: block;
	padding: 15px 10px 30px 10px;
	
}
#row4 {
	overflow: hidden;
	display: inline-block;
}
#row5 p {
	color: #555555;
	font-size: 20px;
	display: block;
	font-family: Verdana,sans-serif;
	line-height: 1.5;
	margin-bottom: 10px;
	word-wrap: normal;
}
#row6 p {
	font-family: Verdana,sans-serif;
	line-height: 1.5;
	font-size: 15px;
	color: #757575;
	text-align: center;
	margin: 15px 0px;
	word-wrap: normal;
}
#row6 {
	padding: 32px 64px;
	width: 90%;
}
#nav2 {
	margin-top: 20px;
}
#nav2 a {
	text-decoration: none;
	color: #555555;
	font-family: Verdana,sans-serif;
	font-size: 14px;
	letter-spacing: 4px;
	Word-spacing: 10px;
	line-height: 1.5;
}
#nav2 a:hover {
	color:black;
}
#nav2 {
	text-align: right;
}
p a {
	text-decoration: none;
	color: inherit;
}
p a:hover {
	color:black;
}
#row6 i {
	color: #555555;
	font-size: 30px;
}
#row6 i:hover {
	color: darkblue;
}